# Source
src/

# Projects
configurations/
libraries/
websites/

# Settings
.vscode/
.github/

# TypeScript Configuration Files
tsconfig.*

# Other Configuration Files
*.config.ts
*-config.ts
*.config.json
*-config.json